<%- include("../partials/header.ejs", {style: ["style"], title: "EditBlog"}) %>
<%- include("../partials/navbar.ejs", {active: "blogs"}) %>

<div class="container">
    <div class="row">
        <%- include('../partials/flash.ejs') %>
        <div class="col-md-9 mx-auto my-auto">
            <h1>Add New Blog</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-9 mx-auto my-auto">
            <form action="/blogs/blog/<%= blog._id %>/edit?_method=PATCH" method="POST" enctype="multipart/form-data"
                id="blog-form" class="blog-form shadow p-3 mb-5 bg-body rounded">
                <div class="input-group mb-3">
                    <label class="w-100 mb-2" for="title">Blog Title</label>
                    <input type="text" class="form-control w-100" id="title" placeholder="Blog Title"
                        value="<%= blog.title %>" name="title" required />
                </div>
                <div class="input-group mb-3">
                    <label class="w-100 mb-2" for="img">Upload Image</label>
                    <input type="file" class="form-control w-100" id="img" name="img" accept="image/*" required />
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Write your blog here!!!" id="body" name="body"
                        required><%= blog.body %></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Update</button>
            </form>
        </div>
    </div>
</div>



<%- include("../partials/footer.ejs", {scripts: ["jquery", "ckeditor", "jquery.validate", "newBlog"]}) %>